* {
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
}

body {
	margin:0px;
	padding:0px;
}

div.row {
	font-size:1.2em;
	padding:3px;
}

div.highlighted {
	background-color: #d6f1af;
}

div.menuItem {
	background: #dddddd;
	border: 1px solid green;
	padding:2px;
	margin:2px;
	float:left;
}

div.menuBody {
	border: 1px solid gray;
	width:100px;
}
