* {
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
}

body {
	margin:0px;
	padding:0px;
}

div.row {
	font-size:1.2em;
	padding:3px;
}

div.highlighted {
	background-color: #d6f1af;
}

