/* Used in utils.js */

div#blockDiv {
	display: none;
	background-color: black;
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
	text-align:center;
	color:white;
}

div#blockDivContent {
	display: none;
	margin-top:50px;
	width:100%;
	text-align:center;
	color: white;
}

div#blockDivContent a { 
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #cccccc;
	padding:5px 15px 5px 15px;
	margin:2px 5px 2px 5px;
	font-weight: bold;
	color:#0000ff;
}
div#blockDivContent a:visited { 
	color:#0000ff; 
}
div#blockDivContent a:hover {
	color:#ff0000;
}

/***********************************/

div#tooltip {
	fontSize: 0.8em;
	position: absolute;
	visibility: hidden;
	top: 10px;
	left: 10px;
	background: #fff7c2;
	padding: 2px;
}

/***********************************/

.menuItem {
	position:relative;
}

.menuBody {
	position:absolute;
	top:0px;
	left:0px;
	visibility:hidden;
}

