/* Used in utils.js */

div#blockDiv {
	position:absolute;
	display: none;
	background-color: black;
	-moz-opacity: 0.6;
	opacity:.60;
	filter: alpha(opacity=60);
	color:white;
}

div#blockDivContent {
	position:absolute;
	display: none;
	margin-top:50px;
	padding:10px;

	top:100px;
	left:100px;

	border:1px solid black;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background-color: white;
	border: 1px solid black;
}

div#blockDivContentClose {
	position:absolute;
	top:-10px;
	right:-10px;
}


/***********************************/

div#tooltip {
	fontSize: 0.8em;
	position: absolute;
	visibility: hidden;
	top: 10px;
	left: 10px;
	background: #fff7c2;
	padding: 2px;
}

/***********************************/

.menuItem {
	position:relative;
	/* Optional: */
	border:1px solid black;
}

.menuBody {
	position:absolute;
	top:0px;
	left:0px;
	visibility:hidden;
	/* Optional: */
	width:100px;
	border:1px solid blue;
	background:white;
}

